.y-axis-html {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: 'left right';

	&[data-has-label='false'] {
		gap: 0;
	}

	&[data-side='left'] {
		grid-area: margin-left;

		.label-container {
			grid-area: left;
			padding-right: var(--y-axis-tick-offset);
		}
		.ticks-container {
			grid-area: right;
			padding-right: var(--y-axis-tick-offset);
		}
	}

	&[data-side='right'] {
		grid-area: margin-right;

		.label-container {
			grid-area: right;
			padding-left: var(--y-axis-tick-offset);
		}
		.ticks-container {
			grid-area: left;
			padding-left: var(--y-axis-tick-offset);
		}
	}

	.label-container {
		display: flex;
		justify-content: center;
		align-items: center;

		.label {
			font-size: 18px;
			writing-mode: sideways-lr;
			text-align: center;
			text-wrap: balance;
		}
	}

	.ticks-container {
		display: grid;

		.tick {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
			height: 0;
			display: flex;
			align-items: center;
			justify-content: end;
			font-size: 18px;
			white-space: pre-line;
			text-align: right;
		}
	}
}
