.chart {
	position: relative;
	margin: auto;
	margin-top: 25vh;

	> .overlay {
		position: absolute;
		inset: 0;
		// visibility: hidden;

		display: grid;
		grid-template-columns:
			[chart-start margin-left-start] auto
			[plot-start margin-left-end margin-top-start margin-bottom-start] 1fr
			[plot-end margin-right-start margin-top-end margin-bottom-end] auto
			[chart-end margin-right-end];
		grid-template-rows:
			[chart-start margin-top-start] auto
			[plot-start margin-top-end margin-left-start margin-right-start] 1fr
			[plot-end margin-bottom-start margin-left-end margin-right-end] auto
			[chart-end margin-bottom-end];

		> * {
			outline: 1px solid tomato;
		}

		.left-margin-container {
			grid-area: margin-left;
			// min-width: var(--margin-left-width, 0);
		}
		.right-margin-container {
			grid-area: margin-right;
			// min-width: var(--margin-right-width, 0);
		}
		.top-margin-container {
			grid-area: margin-top;
			// min-height: var(--margin-top-height, 0);
		}
		.bottom-margin-container {
			grid-area: margin-bottom;
			// min-height: var(--margin-bottom-height, 0);
		}
		.plot-container {
			// position: remslative;
			grid-area: plot;
		}

		// background-image: linear-gradient(45deg, #cccccc80 25%, transparent 25%),
		// 	linear-gradient(-45deg, #cccccc80 25%, transparent 25%),
		// 	linear-gradient(45deg, transparent 75%, #cccccc80 75%),
		// 	linear-gradient(-45deg, transparent 75%, #cccccc80 75%);
		// background-size: 20px 20px;
		// background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
		// background-repeat: repeat;
	}

	svg.chart {
		outline: 1px solid tomato;
		overflow: visible;
	}
}
