.chart {
	position: relative;
	font-family: 'Manulife JH Sans Optimized';
	margin: 10vh auto;
	// outline: 1px solid tomato;
	> .overlay {
		position: absolute;
		inset: 0;
		visibility: hidden;

		display: grid;
		grid-template-columns:
			[chart-start margin-left-start] auto
			[plot-start margin-left-end margin-top-start margin-bottom-start] 1fr
			[plot-end margin-right-start margin-top-end margin-bottom-end] auto
			[chart-end margin-right-end];
		grid-template-rows:
			[chart-start margin-top-start] auto
			[plot-start margin-top-end margin-left-start margin-right-start] 1fr
			[plot-end margin-bottom-start margin-left-end margin-right-end] auto
			[chart-end margin-bottom-end];

		.left-margin-container {
			grid-area: margin-left;
			min-width: var(--margin-left, 0);
		}
		.right-margin-container {
			grid-area: margin-right;
			min-width: var(--margin-right, 0);
		}
		.top-margin-container {
			grid-area: margin-top;
			min-height: var(--margin-top, 0);
		}
		.bottom-margin-container {
			grid-area: margin-bottom;
			min-height: var(--margin-bottom, 0);
		}
		.plot-container {
			grid-area: plot;
		}
	}

	svg.chart {
		outline: 1px solid tomato;
		overflow: visible;
	}
}
