.configuration-panel {
	min-width: 480px;
	color: #fff;

	.rs-panel-body {
		padding: 4px;
	}

	.configuration-footer {
		padding: 0.75rem 1.25rem;
		border-top: 1px solid var(--rs-navs-tab-border);
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}
