.editor {
	position: relative;
	min-height: 100%;
	display: grid;
	place-content: center;

	&[data-live-editor='true'] {
		display: block;
	}
}

.upload-inner {
	width: 50vw;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
