.editor {
	position: relative;
	min-height: 100%;
	display: grid;
	place-content: center;

	&[data-live-editor='true'] {
		display: block;
	}
}

.upload-inner {
	min-width: 600px;
	width: 30vw;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.upload-footer-inner {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
}
