.live-editor {
	--toolbar-height: 70px;
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: 'controls preview';
	align-items: start;
}

.toolbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: end;
	gap: 1rem;
	background-color: var(--rs-gray-900);
	z-index: 1;

	button {
		padding: 8px 4px;
	}

	.temp-svg-container {
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

.controls-container {
	grid-area: controls;
	width: 400px;
	padding: 4px;
	padding-bottom: 10vh;
	display: flex;
	flex-direction: column;
	z-index: 2;
	min-height: 200vh;
}

.preview-container {
	// position: relative;
	position: sticky;
	top: 0;
	grid-area: preview;
	background-color: #fff;
	height: 100vh;
	overflow: hidden;

	background-image: linear-gradient(45deg, #cccccc80 25%, transparent 25%),
		linear-gradient(-45deg, #cccccc80 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #cccccc80 75%),
		linear-gradient(-45deg, transparent 75%, #cccccc80 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
	background-repeat: repeat;

	> .sticky-container {
		height: 100%;
		display: grid;
		place-items: center;
		padding: 1rem;
		outline: 1px solid tomato;
	}
}
