.live-editor {
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: 'controls preview';
}

.toolbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: end;
	gap: 1rem;
	background-color: #000;
	z-index: 1;

	button {
		padding: 8px 4px;
	}

	.temp-svg-container {
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

.controls-container {
	position: relative;
	grid-area: controls;
	width: 400px;
	padding: 8px;
	padding-bottom: 10vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 1;

	.control-tab {
		border: 1px solid #eeeeee;

		.title {
			background-color: #eee;
			text-align: center;
			padding: 4px;
		}
	}
}

.preview-container {
	grid-area: preview;
	background-color: #fff;
	> .sticky-container {
		position: sticky;
		top: 0;
		height: 100vh;
		display: grid;
		place-items: center;
		padding: 1rem;
	}
}
