.input-block {
	display: grid;
	grid-template-columns: repeat(var(--num-columns, 1), 1fr);
	align-items: center;
	gap: 8px;
	padding-top: 8px;

	&[data-col='2'] {
		--num-columns: 2;
	}
	&[data-col='3'] {
		--num-columns: 3;
	}
	&[data-col='4'] {
		--num-columns: 4;
	}
}

.input-wrapper {
	padding: 12px 8px;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.color-select {
	display: flex;
	gap: 0.5rem;

	[role='button'] {
		border-radius: 4px;
		&[aria-pressed='true'] {
			outline: 1px solid currentColor;
			outline-offset: 2px;
		}

		&[aria-disabled='true'] {
			opacity: 0.4;
			pointer-events: none;
		}
	}
}

.swatch-bullet {
	width: 24px;
	aspect-ratio: 1;
	background-color: currentColor;
	border-radius: 4px;
}

.rs-radio-tile {
	padding: 4px;

	.rs-radio-tile-icon,
	.rs-radio-tile-mark {
		display: none;
	}
}

.rs-panel-header {
	border-bottom: 1px solid var(--rs-border-primary);
	background-color: var(--rs-gray-800);
}
.rs-panel-body {
	background-color: var(--rs-gray-700);
}
