---
import { getEntry } from 'astro:content'

import Layout from '@layouts/Layout.astro'
import Papa from 'papaparse'
import type { ChartDataEntry, ChartConfig, QuantChartDataEntry } from '@/types'
import { timeParse } from 'd3'
import LiveEditor from '@/components/Editor/LiveEditor'
import RSuiteProvider from '@/components/RSuiteProvider'

const { id } = Astro.params

if (id === undefined) {
	return Astro.redirect('/404')
}

const config = await getEntry('chart-config', id)
const dataCollection = await getEntry('chart-data', id)

if (config === undefined || dataCollection === undefined) {
	return Astro.redirect('/404')
}

const { errors, data: parsedData }: { errors: any[]; data: any[] } = Papa.parse(
	dataCollection.data.data,
	{
		dynamicTyping: true,
		skipEmptyLines: true,
	}
)

if (errors.length) {
	throw new Error(`Error parsing data: ${JSON.stringify(errors)}`)
}

const columns: string[] = parsedData[0]
const dataset: TimeChartRawDataEntry[] = parsedData.slice(1)

const [dateKey, ...series] = columns
const dateParser = timeParse('%d/%m/%Y')

const data: ChartDataEntry[] =
	config.data.type === 'time'
		? dataset.map(([dateStr, ...values]) => [dateParser(dateStr)!, ...values] as ChartDataEntry)
		: config.data.type === 'quant'
			? (dataset as unknown as QuantChartDataEntry[])
			: dataset
---

<Layout>
	<div class='container'>
		<RSuiteProvider client:load>
			<LiveEditor data={data} initialConfig={config.data as ChartConfig} series={series} client:load />
		</RSuiteProvider>
	</div>
</Layout>

<style>
	.container {
		height: 100%;
	}
</style>
