---
import Layout from '@layouts/Layout.astro'

import { getCollection } from 'astro:content'

const configs = await getCollection('chart-config')
---

<Layout>
	<div class='menu'>
		<ul>
			{
				configs.map(({ id }) => (
					<li>
						<span>{id}</span>
						<a href={`chart/${id}`}>Editor</a>
						<a href={`preview/${id}`}>Preview</a>
					</li>
				))
			}
		</ul>
	</div>
</Layout>

<style>
	.menu {
		height: 100%;
		display: grid;
		place-content: center;

		ul {
			list-style: none;
		}

		li {
			padding: 0.5rem;
			display: grid;
			grid-template-columns: 1fr auto auto;
			gap: 1rem;
			border-bottom: 1px solid #22222222;
		}
	}
</style>
