---
import Papa from 'papaparse'
import { timeParse } from 'd3'

import Layout from '@layouts/Layout.astro'
import TimelineChart from '@/components/Chart'

import type { TimelineChartDataEntry, TimelineChartRawDataEntry } from '@types'

import { data as rawData } from '../data/stock-prices_data'
import { config } from '../data/stock-prices_config'

const { errors, data: parsedData }: { errors: any[]; data: any[] } = Papa.parse(rawData, {
	dynamicTyping: true,
})

if (errors.length) {
	throw new Error(`Error parsing data: ${JSON.stringify(errors)}`)
}

const columns: string[] = parsedData[0]
const dataset: TimelineChartRawDataEntry[] = parsedData.slice(1)

const [dateKey, ...series] = columns
const dateParser = timeParse('%d/%m/%Y')
const data: TimelineChartDataEntry[] = dataset.map(([dateStr, ...values]) => [
	dateParser(dateStr)!,
	...values,
])
---

<Layout>
	<div class='container'>
		<TimelineChart data={data} config={config} client:load />
	</div>
</Layout>

<style>
	.container {
		height: 100%;
		display: grid;
		place-content: center;
		background-color: white;
	}
</style>
