---
import Papa from 'papaparse'
import { timeParse } from 'd3'

import Layout from '@layouts/Layout.astro'
import LiveEditor from '@/components/Editor/LiveEditor'

import type { TimelineChartDataEntry, TimelineChartRawDataEntry } from '@types'

import { data as rawData } from '../data/fed-funds_data'
import { config } from '../data/fed-funds_config'
import RSuiteProvider from '@/components/RSuiteProvider'

const { errors, data: parsedData }: { errors: any[]; data: any[] } = Papa.parse(rawData, {
	dynamicTyping: true,
})

if (errors.length) {
	throw new Error(`Error parsing data: ${JSON.stringify(errors)}`)
}

const columns: string[] = parsedData[0]
const dataset: TimelineChartRawDataEntry[] = parsedData.slice(1)

const [dateKey, ...series] = columns
const dateParser = timeParse('%d/%m/%Y')
const data: TimelineChartDataEntry[] = dataset.map(([dateStr, ...values]) => [
	dateParser(dateStr)!,
	...values,
])
---

<Layout>
	<div class='container'>
		<RSuiteProvider client:load>
			<LiveEditor data={data} initialConfig={config} series={series} client:load />
		</RSuiteProvider>
	</div>
</Layout>

<style>
	.container {
		height: 100%;
	}
</style>
